<!-- Search area -->
<div class="jumbotron unccd-clear-mg unccd-clear-pd unccd-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 unccd-search">
        <div data-search-input-directive></div>
        <a href="#/advancedSearch" title="Advanced search" class="unccd-advanced-search-link unccd-color-white">Advanced search</a>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 unccd-promo unccd-segoe-ui-light unccd-color-white">
        <div data-search-promo-directive></div>
      </div>
    </div>
  </div>
</div><!-- /.search area -->


<!-- Content -->
<div class="unccd-content unccd-page">
  <div class="container">
    <div class="row">
      <!-- Static content -->
      <div class="col-md-12">
        <h3 class="unccd-segoe-ui-normal">The UNCCD Knowledge Portal SKBP</h3>
        <p>
          Addressing land degradation, through restoration, mitigation and sustainable land management, requires a lot of knowledge, capacity and resources. Often that knowledge and those resources are                   very specific for local circumstances. Meanwhile there are many sources available for that knowledge and those resources. How do we ensure this information reaches the right people? How do we                   find our way through the many sources, websites and knowledge bases available? The UNCCD Knowledge Portal addresses that issue.<br>
          The SKBP Search portal includes a search interface, providing awareness, guidance and access to various knowledge sources, including:
        </p>
        <ul>
          <li>A large selection of literature and articles from our various partners</li>
          <li>The UNCCD roster of Experts</li>
          <li>The interactive maps of knowledge systems</li>
          <li>Best Practices</li>
          <li>The UNCCD Capacity Building Marketplace</li>
        </ul>
        <h4>See also:</h4>
        <p><a href="http://www.unccd.int/knowledge">UNCCD.int/knowledge</a></p>
      </div><!-- /.static content -->
    </div>
  </div>
</div><!-- /.content -->


<!-- Partners -->
<div data-partner-logos-directive></div><!-- /.partners -->