<!-- Search area -->
<div class="jumbotron unccd-clear-mg unccd-clear-pd unccd-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 unccd-search">
        <div data-search-input-directive></div>
        <a href="#/advancedSearch" title="Advanced search" class="unccd-advanced-search-link unccd-color-white">Advanced search</a>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 unccd-promo unccd-segoe-ui-light unccd-color-white">
        <div data-search-promo-directive></div>
      </div>
    </div>
  </div>
  </div><!-- /.search area -->


<!-- Content -->
<div class="unccd-content unccd-page">
  <div class="container">
    <div class="row">
      <!-- Static content -->
      <div class="col-md-12">
        <h3 class="unccd-segoe-ui-normal">Contact info</h3>
        <p>
            Are you interested to become a partner and get involved in this project? Please contact us, using the information below:<br><br>
            United Nations Convention to Combat Desertification<br>
            UNCCD Secretariat<br>
            P.O. Box 260129<br>
            D-53153 Bonn, Germany<br>
            For information regarding the Scientific Knowledge Brokering Portal: <a href="mailto:skbp@unccd.int" target="_top">skbp@unccd.int</a><br>
        </p>
      </div><!-- /.static content -->
    </div>
  </div>
</div><!-- /.content -->


<!-- Partners -->
<div data-partner-logos-directive></div><!-- /.partners -->
