<!-- Search area -->
<div class="jumbotron unccd-clear-mg unccd-clear-pd unccd-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 unccd-search">
        <div data-search-input-directive></div>
        <a href="#/advancedSearch" title="Advanced search" class="unccd-advanced-search-link unccd-color-white">Advanced search</a>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 unccd-promo unccd-segoe-ui-light unccd-color-white">
        <div data-search-promo-directive></div>
      </div>
    </div>
  </div>
</div><!-- /.search area -->


<!-- Content -->
<div class="unccd-content unccd-page">
  <div class="container">
    <div class="row">
      <!-- Static content -->
      <div class="col-md-12">
        <h3 class="unccd-segoe-ui-normal">The UNCCD Scientific Knowledge Brokering Portal</h3>
        <p>
            The SKBP pilot centralizes knowledge bases containing relevant SLM best practices and scientific knowledge
            to allow users to search for the required data. The search portal has been developed with financial
            contributions from the Spanish and Swiss Governments in addition to the in-kind contributions of five SKBP
            pilot partners, including: the Spanish National Research Council (CSIC), World Soil Information (ISRIC),
            World Overview of Conservation Approaches and Technologies (WOCAT), the Technologies and Practices for
            Small Agricultural Producers (TECA) project of the Food and Agriculture Organization of the United Nations
            (FAO) and the FAO International System for Agricultural Science and Technology. The Agricultural Research
            Service of the United States Department of Agriculture has contributed expert knowledge and allowed the
            UNCCD to leverage many of the tools being developed as part of JournalMap and the global Land-Potential
            Knowledge System (LandPKS). It has been a leading in-kind contributor to the development of the SKBP pilot
            interactive web maps.
        </p>
        <ul>
            <li><a href="http://agris.fao.org/agris-search/index.do">Agris</a> FAO AGRIS International Information System for the Agricultural Science and Technology</li>
            <li><a href="http://www.csic.es/">CSIC</a> La Agencia Estatal Consejo Superior de Investigaciones Científicas (CSIC)</li>
            <li><a href="http://www.isric.org/">ISRIC</a> ISRIC - World Soil Information</li>
            <li><a href="http://skbp.unccd.int/">UNCCD</a> United Nations Convention to Combat Desertification</li>
            <li><a href="http://teca.fao.org/">TECA</a> FAO TECA Technologies and practices for small agricultural producers</li>
            <li><a href="https://www.wocat.net/">WOCAT</a> World Overview of Conservation Approaches and Technologies</li>
            <li><a href="http://jornada.nmsu.edu/">USDA-ARS Jornada</a> The Jornada Rangeland Research programs</li>
        </ul>
      </div><!-- /.static content -->
    </div>
  </div>
</div><!-- /.content -->


<!-- Partners -->
<div data-partner-logos-directive></div><!-- /.partners -->