/*** General ***/

body {
  background-color: #303032;
  /*font-family: wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;*/
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}


/*** Fonts ***/
.unccd-segoe-ui-normal {
  font-family: wf_segoe-ui_normal, "Segoe UI Normal", "Segoe WP Normal", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-weight: 400;
}

.unccd-segoe-ui-light {
  font-family: wf_segoe-ui_light, "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-weight: 400;
}

.unccd-segoe-ui-semi-bold {
  font-family: wf_segoe-ui_semi-bold, "Segoe UI Semi Bold", "Segoe WP Semi Bold", Tahoma, Arial, sans-serif;
  color: #e6ffd0;
}


/*** General css ***/
.unccd-set-radius {
  border-radius: 4px !important;
}


/*** Cleaners ***/
.unccd-clear-mg {
  margin: 0;
}

.unccd-clear-mg-top {
  margin-top: 0;
}

.unccd-clear-pd {
  padding: 0;
}

.unccd-clear-bg,
.unccd-clear-bg > li > a:focus,
.unccd-clear-bg > li > a:hover {
  background-color: transparent;
}

.unccd-clear-bg-img {
  background: none !important;
}

.unccd-clear-shadow,
.unccd-clear-shadow:focus {
  box-shadow: none;
}

.unccd-clear-input,
.unccd-clear-input input,
.unccd-clear-input input:focus,
.unccd-clear-input input:hover,
.unccd-clear-input button {
  border-color: #ffffff !important;
  box-shadow: none;
}

.unccd-clear-border {
  border: none !important;
}

.unccd-clear-decoration a:hover {
  text-decoration: none !important;
}


/*** Colors ***/
.unccd-color-brown,
.unccd-color-brown a {
  color: #7b3e30;
}

.unccd-content a,
.unccd-color-green,
.unccd-color-green a,
.unccd-color-green > li > a,
.unccd-color-green > li > a:hover,
.unccd-color-green > li > a:focus,
.unccd-color-green > li > span,
.unccd-color-green > li > span:hover,
.unccd-color-green > li > span:focus {
  color: #79a245;
}

.unccd-content a:hover,
.unccd-color-gray,
.unccd-color-gray a {
  color: #656664 !important;
}

.unccd-color-black,
.unccd-color-black a {
  color: #303032;
}

.unccd-color-white,
.unccd-color-white a {
  color: #ffffff !important;
}

.unccd-color-white:hover,
.unccd-color-white:focus,
.unccd-color-white a:hover,
.unccd-color-white a:focus {
  color: #F7F7F8 !important;
}

.unccd-color-silver,
.unccd-color-silver a {
  color: #b1b2af !important;
}

.unccd-color-silver a:hover,
.unccd-color-silver a:focus {
  color: #7e807d;
}

.unccd-color-silver-light,
.unccd-color-silver-light a {
  color: #7e807d;
}

.unccd-border-color-white {
  border-color: #ffffff;
}


/*** Unccd body ***/
.unccd-body {
  background-color: #ffffff;
}


/*** Navbar ***/
.unccd-navbar {
  min-height: 130px;
  margin-bottom: 0;
}

.unccd-navbar .container {
  position: relative;
}

.unccd-header-title {
  border-left: 1px solid #dddddd;
  color: #7b7a7a;
  display: block;
  font-size: 12px;
  left: 180px;
  padding-left: 20px;
  position: absolute;
  top: 20px;
}

.unccd-navbar .navbar-nav > .active > a,
.unccd-navbar .navbar-nav > .active > a:hover,
.unccd-navbar .navbar-nav > .active > a:focus {
  background-color: #F2F2F2;
  /*color: #555;*/
}

.unccd-navbar-toggle {
  margin-top: 78px;
  background-color: #EEEEEE;
}

.unccd-navbar-toggle .icon-bar {
  background-color: #b1b2af;
}

.unccd-jumbotron .col-md-4 {
  display: none;
}


/*** Search area ***/
.unccd-jumbotron {
  background-color: #79a245;
}

.unccd-jumbotron .navbar-form {
  margin-bottom: 10px !important;
}

.unccd-search-input .btn-default {
  border-left-color: #ccc !important;
}


/*** Highlights ***/
.unccd-highlights {
  background-color: #f7f7f8;
  margin-bottom: 30px;
}

.unccd-highlights .container {
  min-height: 270px;
    height:auto;
    _height:270px;
  position: relative;
}

.unccd-highlights .col-md-4 {
  margin: 30px 0 0 0;
}

#unccd-highlights-carousel {
  display: block;
}

.unccd-highlights-carousel-control {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 20px;
}

.unccd-highlights-carousel-control a {
  display: inline-block !important;
}

.unccd-highlights .col-md-4 {
  /* carousel */
  background: url(../images/bg-line-vertical.gif) right top repeat-y;
}


/*** Partners ***/
.unccd-partners {
  padding-bottom: 30px;
}

.unccd-partners img {
  margin-right: 50px;
}


/*** Footer ***/
footer {
  margin-top: 30px;
  padding-bottom: 40px;
  line-height: 22px;
  font-size: 13px;
}


/*************************/
/***** MEDIA QUERIES *****/
/*************************/


/*** Min 1200 ***/
@media only screen and (min-width: 1200px) {
  .unccd-jumbotron .col-md-4 {
    display: block;
    padding-top: 50px;
  }
  .unccd-jumbotron h3 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #88B44D;
  }
  .unccd-jumbotron h4 {
    line-height: 26px;
  }
}


/*** Max 1199 ***/
@media only screen and (max-width: 1200px) {
  .unccd-jumbotron .col-md-8 {
    width: 100%;
  }
}


/*** Min 992 ***/

@media only screen and (min-width: 992px) {
  /* carousel
  .unccd-highlights .col-md-4 {
    background: url(../images/bg-line-vertical.gif) right top repeat-y;
  }
*/
}


/*** Max 991 ***/
@media only screen and (max-width: 991px) {
  footer .text-right {
    text-align: left;
    padding-top: 8px;
    border-top: 1px solid #525256;
  }
  .unccd-highlights .col-md-4 {
    float: left;
  }
}


/*** Min 769 ***/
@media only screen and (min-width: 769px) {
  .unccd-jumbotron .input-group input.form-control {
    width: 400px !important;
  }
  .unccd-sources {
    margin-left: 30px;
  }
  .unccd-jumbotron .col-md-8 {
    padding-left: 75px;
  }
}


/*** Min 768 ***/
@media only screen and (min-width: 768px) {
  .unccd-navbar-nav {
    margin: 78px 0 0 40px;
  }
  .unccd-jumbotron .navbar-form {
    margin-top: 100px;
    padding: 0;
  }
  .unccd-jumbotron .container {
    min-height: 250px;
    background: url(../images/bg-guys-responsive.jpg) 15px top no-repeat;
    /*background: url('../images/bg-leaves.jpg') left top no-repeat; -> leaves motive*/
  }
}


/*** Max 767 ***/
@media (max-width: 767px) {
  .unccd-navbar-nav-lang {
    padding-left: 15px;
    margin-top: -10px;
    margin-bottom: 15px;
  }
}


/*** Max 768 ***/
@media (max-width: 768px) {
  .unccd-clear-input {
    float: left;
    margin-right: 30px;
  }
  .unccd-jumbotron .container {
    min-height: 250px;
    background: url(../images/bg-guys-responsive.jpg) left top no-repeat;
    /*background: url('../images/bg-leaves.jpg') left top no-repeat; -> leaves motive*/
  }
  .unccd-jumbotron .navbar-form {
    padding-top: 0;
    margin-top: 100px;
  }
  .unccd-jumbotron .input-group {
    width: 100%;
  }
  .unccd-sources {
    margin-top: 10px;
    float: left;
  }
  .unccd-advanced-search-link {
    display: block;
    float: left;
    margin: 20px 0 0 30px;
  }
  /* carousel
  .unccd-highlights p {
    display: none;
  }
  .unccd-highlights .container {
    min-height:auto;
    position: relative;
    padding-bottom:40px;
  }
  */
  .unccd-partners img {
    margin-bottom: 20px;
  }
}


/*** Google Maps ***/
#map_canvas {
  height: 600px;
  width: 100%;
}


/*** Google translator ***/
.goog-te-gadget-simple {
  border: none !important;
  margin-top: 12px;
}

.goog-te-gadget-simple img {
  background-image: none !important;
  background: url(../images/ico-google.png) left 1px no-repeat !important;
}