<footer>
  <div class="container">
    <div class="row unccd-color-silver">
      <div class="col-md-6">
        <p>
          <span class="unccd-color-silver-light">© 2015 UNCCD. All Rights Reserved.</span><br />
          <a href="#/disclaimer">Terms of Use</a> | <a href="#/contact">Contact</a>
        </p>
      </div>
      <div class="col-md-6 text-right">
        <p>
          United Nations Convention to Combat Desertification<br />
          UNCCD Secretariat<br />
          P.O. Box 260129<br />
          D-53153 Bonn, Germany<br />
          <a href="mailto:skbp@unccd.int" title="Mail us">skbp@unccd.int</a>
        </p>
      </div>
    </div>
  </div>
</footer><!-- /.footer Note: avaible {{disclaimer}} {{contact}} -->