<nav class="navbar unccd-navbar">
  <!-- Container -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed unccd-navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"><img src="images/logo-unccd.png" alt="UNCCD" class="img-responsive" /></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <!--<h3 class="unccd-color-brown">Scientific Knowledge Brokering Portal</h3>-->
      <ul class="nav navbar-nav navbar-left unccd-navbar-nav unccd-color-brown">
        <li ng-class="{active: $route.current.$$route.activeTab == 'home'}"><a href="#/">Home</a></li>

        <!--<li ng-class="{active: $route.current.$$route.activeTab == 'results'}"><a href="#/results">Results</a></li>-->
        <li ng-class="{active: $route.current.$$route.activeTab == 'about'}"><a href="#/about">About</a></li>
        <!--<li ng-class="{active: $route.current.$$route.activeTab == 'guides'}"><a href="#/guides">Guides</a></li>-->
        <li ng-class="{active: $route.current.$$route.activeTab == 'partners'}"><a href="#/partners">Partners</a></li>
        <!--<li class="unccd-navbar-nav-lang unccd-color-gray"><a href="#contact">Language</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right unccd-navbar-nav unccd-navbar-nav-lang">
        <li id="google_translate_element"></li>
      </ul>
    </div><!--/.nav-collapse -->
    <span class="unccd-header-title">Scientific Knowledge<br /> Brokering Portal</span>
  </div><!--/.container -->
</nav><!--/.navbar -->
