<!--
<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="item in items">
            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
-->

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">
    <div ng-if="currentResultItem['title_' + currentResultItem.language]">
      {{currentResultItem['title_' + currentResultItem.language]}}
    </div>
    <div ng-if="!currentResultItem['title_' + currentResultItem.language]">
      {{currentResultItem.title_en}}
    </div>
    {{currentResultItem.kss}}
    {{currentResultItem.persontitle}}
    {{currentResultItem.firstname}}
    &#160;{{currentResultItem.lastname}}
  </h3>
</div>
<div class="modal-body">
  <div ng-repeat="(key, value) in currentResultItem">

    <div ng-if="showField(key)">
      <p ng-if="key === 'url' || key === 'website'"><strong>{{key| translate}}:</strong> <a href="{{value}}" target="_blank">{{ getFormattedVersion(value)}}</a></p>
      <p ng-if="key !== 'url' && key !== 'website' && key !== 'id' && key !== 'language'"><strong>{{key| translate}}:</strong> {{ getFormattedVersion(value)}}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <form id="loginForm" method="post" class="form-horizontal">
    <button type="button" class="btn" ng-click="ok()">OK</button>
  </form>
</div>
