<div class="container unccd-partners unccd-content">
  <div class="row">
    <div class="col-md-12">
      <a href="#/partners" title="FAO AGRIS International Information System for the Agricultural Science and Technology"><img src="images/logo-agris.png" alt="AGRIS" /></a>
      <a href="#/partners" title="ISRIC - World Soil Information"><img src="images/logo-isric.png" alt="ISRIC" /></a>
      <a href="#/partners" title="La Agencia Estatal Consejo Superior de Investigaciones Científicas (CSIC)"><img src="images/logo-csic.png" alt="CSIC" /></a>
      <a href="#/partners" title="FAO TECA Technologies and practices for small agricultural producers"><img src="images/logo-teca.png" alt="TECA" /></a>
      <a href="#/partners" title="The Jornada Rangeland Research programs"><img src="images/logo-usda.png" alt="USDA-ARS Jornada" /></a>
      <a href="#/partners" title="World Overview of Conservation Approaches and Technologies"><img src="images/logo-wocat.png" alt="WOCAT" /></a>
    </div>
  </div>
</div>