<div class="modal fade" id="resultItemModal" tabindex="-1" role="dialog" aria-labelledby="resultItemModal" aria-hidden="true">
  <div class="modal-dialog">
    <!--
    RESULT ITEM MODAL
    For more info read the documentation in the app/components/results/resultItemDirective.js file
    -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">
          {{currentResultItem.title_en}}
          {{currentResultItem.title_es}}
          {{currentResultItem.title_de}}
          {{currentResultItem.title_it}}
          {{currentResultItem.title_fr}}
          {{currentResultItem.kss}}
          {{currentResultItem.persontitle}}
          {{currentResultItem.firstname}}
          &#160;{{currentResultItem.lastname}}
        </h3>
      </div>
      <div class="modal-body">
        <div ng-repeat="(key, value) in currentResultItem">
            <!-- Create a link if the item is a url or website -->
            <p ng-if="key === 'url' || key === 'website'"><strong>{{key | translate}}:</strong> <a href="{{value}}" target="_blank">{{ getFormattedVersion(value) }}</a></p>
            <p ng-if="key !== 'url' && key !== 'website'"><strong>{{key | translate}}:</strong> {{ getFormattedVersion(value) }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <form id="loginForm" method="post" class="form-horizontal">
          <button type="button" class="btn" data-dismiss="modal">OK</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
