<!-- Search area -->
<div class="jumbotron unccd-clear-mg unccd-clear-pd unccd-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 unccd-search">
        <div data-search-input-directive></div>
        <a href="#/advancedSearch" title="Advanced search" class="unccd-advanced-search-link unccd-color-white">Advanced search</a>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 unccd-promo unccd-segoe-ui-light unccd-color-white">
        <div data-search-promo-directive></div>
      </div>
    </div>
  </div>
</div><!-- /.search area -->


<!-- Content -->
<div class="unccd-content unccd-page">
  <div class="container">
    <div class="row">
      <!-- Static content -->
      <div class="col-md-12">
        <h3 class="unccd-segoe-ui-normal">Disclaimer</h3>
        <p>
        The boundaries and names shown and the designations used on this map do not imply official endorsement or acceptance by the United Nations Convention to Combat Desertification (UNCCD) and the United            Nations. Care was taken in the creation of this map.  The UNCCD, its staff and contractors cannot accept any responsibility for errors, omissions, or positional accuracy or be held responsible for            any damages due to errors or omissions in these maps. Depiction of boundaries is not authoritative. There are no warranties, expressed or implied, including the warranty of merchantability or fitness           for a particular purpose, accompanying these maps. However, notification of any errors will be appreciated.
        </p>
          <p>
              These pages may contain links and references to third-party web-sites. The UNCCD secretariat provides these links only as a convenient service. The inclusion of a link or reference does not imply the endorsement of the linked site by the UNCCD secretariat.
          </p>
        <h4>See also:</h4>
        <p><a href="http://www.unccd.int/en/Pages/terms-of-use.aspx" title="UNCCD website terms of use" target="_blank">UNCCD website terms of use</a>
      </div><!-- /.static content -->
    </div>
  </div>
</div><!-- /.content -->


<!-- Partners -->
<div data-partner-logos-directive></div><!-- /.partners -->