<!-- Search area -->
<div class="jumbotron unccd-clear-mg unccd-clear-pd unccd-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 unccd-search">
        <div data-search-input-directive></div>
        <a href="#/advancedSearch" title="Advanced search" class="unccd-advanced-search-link unccd-color-white">Advanced search</a>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 unccd-promo unccd-segoe-ui-light unccd-color-white">
        <div data-search-promo-directive></div>
      </div>
    </div>
  </div>
</div><!-- /.search area -->


<!-- Content -->
<div class="unccd-content unccd-page">
  <div class="container">
    <div class="row">
      <!-- Static content -->
      <div class="col-md-12">
        <h3 class="unccd-segoe-ui-normal">Guides</h3>
        <p>
          Guides page ...
        </p>
      </div><!-- /.static content -->
    </div>
  </div>
</div><!-- /.content -->


<!-- Partners -->
<div data-partner-logos-directive></div><!-- /.partners -->